@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Iansui&family=Jaini&family=Oswald:wght@200..700&display=swap');

*{
    padding:0; margin:0;
}
html{
    overflow-x: hidden;
}
.body{
    display:flex;
    flex-direction: column;
    margin-bottom:0;
}


.bg{
    width:100%;
    height:100vh;
    
    position:relative;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    background-position: center;
    background-size: cover;
}
.ed-sticky-background{
    color:#C14600;
    /* color:rgb(34, 13, 13); */
    background-color:beige;
}
.clg-sticky-background{
    color:#276364;
    background-color:#DAC4D0;
}

/* .sticky-outer-layer{
    position:relative;
} */

.ed-sticky-text{
    position:sticky; overflow: hidden;
    z-index:1;
    top: 5%;
    text-align:center;
    background-color: beige;
    font-size:60px;
    padding-left:10px; padding-right: 10px;
    font-family: "Oswald";
    /* text-shadow: 5px 5px 5px rgba(85, 80, 69, 0.599); */
    font-weight: 700;
}

.clg-sticky-text{
    position:sticky; overflow: hidden;
    z-index:1;
    top: 5%;
    text-align:center;
    background-color: #DAC4D0;
    font-size:60px;
    padding-left:10px; padding-right: 10px;
    font-family: "Oswald";
    /* text-shadow: 5px 5px 5px rgba(85, 80, 69, 0.599); */
    font-weight: 700;
}

.scroll-down-indicator{
    position:absolute;
    z-index:0;
    bottom:0;
    left:50%;
    /* overflow: hidden;top:8%; */
    width:5vw;height:auto;

    animation:bounce 1s infinite;
}

.big-flex{
    position: relative;
    flex-direction: column;
    margin-bottom:0;
    padding-bottom:30vh;

    justify-content: space-around;
    /* deletable */
}


.nav{
    position:sticky;z-index: 1;
    top:0;
    overflow: hidden;
    background-color:transparent;

    padding-top:10px;
    display: flex;
    justify-content:space-between;
}

.nav-button{
    font-size:4vh; font-weight: bold;
    margin-left:10px; margin-right: 10px;
    opacity: 0.7;
    padding-left:5%; padding-right:5%;
    /* border: solid 3px #C14725; */
    border-radius:40px;
    /* color: #C14725; */
    cursor: wait;
}
.nav-ed-button{
    border: solid 3px #C14725;
    background-color: rgba(245, 245, 220,0.9);
    color: #C14725;
}
.nav-clg-button{
    border: solid 3px #1d4747;
    background-color: rgba(218, 196, 208,0.9);
    color: #1d4747;
}

.nav-button:hover{ 
    opacity: 1;
    transition: 0.25s ease;
    /* font-size: 6vh; */
}
.nav-ed-button:hover{
    transition: 0.25s ease;
    background-color:rgba(193, 71, 37, 0.8);
    color:beige;
}
.nav-clg-button:hover{
    transition: 0.25s ease;
    background-color:rgb(29, 71, 71,0.8);
    color:#DAC4D0;
}
.nav-button:active{
    opacity: 0;
}

.left-align{
    padding-left:4%;
    margin-right:8%;
    text-align: left;
}
.right-align{
    padding-right:4%;
    margin-left:8%;
    text-align: right;
}

.grid{
    padding-top:0; padding-bottom:5%;
    display:grid;
    grid-template-areas:
    "flex"
    "flex"
    "flex"
    "flex";
    /* row-gap: 5%; */

    /* DELETABLE */
    background-color: transparent;
}
.ed-big-flex{
    background-color: beige;
}
.clg-big-flex{
    background-color: #DAC4D0;
}

.flex-in-grid{
    display:flex;
    position:relative;
    justify-content:center;
    column-gap:4%;
    margin-top:5%;
    /* filter:blur(2px); */
    /* animation: appear-at-scroll ease;
    animation-timeline: view();
    animation-range:entry 0; */
}

/* .flex-in-grid:hover{
    transition: 0.5s ease;
    filter:blur(0);
} */

.image-box{
    max-width:35%;
    /* max-height:30vh; */
    align-self:center;
}
.image-box-on-left>a>img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.image-box-on-right>a>img{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.margin-left{
    margin-left:15%;
}
.margin-right{
    margin-right:15%;
}
.image-box>a>img{
    object-fit: cover;
    height: 30vw;
    width:100%;
    filter:blur(4px) hue-rotate(45deg);

    border-width:5px; border-style: solid;  
}
.image-box>a>img:hover{
    /* PUT TRANSITION HERE */
    /* border-radius:10%; */
    scale:1.01;
    filter: grayscale(0) blur(0) brightness(100%) hue-rotate(0);
    transition: 0.75s ease;
}
.image-box>a>img:active{
    filter:invert(80%);
}

.ed-image-box>a>img{
    border-color:transparent;
}
.ed-image-box>a>img:hover{
    border-color:#CE744D;
}

.clg-image-box>a>img{
    border-color:transparent;
}
.clg-image-box>a>img:hover{
    border-color:#276364;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size:3vh;
    text-wrap: wrap;
    width: 50vw;
}
.text-box-heading{
    font-family : "Iansui", cursive;
    font-size: xxx-large;
    padding-bottom:3%;
}
.text-box-content{
    font-family: "Jaini", system-ui;
    letter-spacing: 1px;
    font-weight: 100;
}

.ed-text-box{
    background-color:rgba(193, 71, 37, 0.7);
    color:black;
}
.clg-text-box{
    background-color:#276364d9;
    color:white;
}


.text-box-on-right{
    padding-left:4%;
    padding-right:1%;
    padding-top:4%; 
    padding-bottom:4%;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.text-box-on-left{
    padding-left:4%;
    padding-right:2%;
    padding-top:4%; 
    padding-bottom:4%;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* style for index.html */

.homepage-heading{
    position:relative; z-index:1;
    text-align:center;
    font-size: 10vh;
    color:goldenrod;
    /* font-family: "Audiowide", sans-serif; */
    font-family: "Play";

    text-shadow: 3px 8px 8px rgb(46 91 173 / 0.6);
}
.homespace{
    display:flex;
    padding-top:15vh;
    background: rgb(38,37,38);
background: linear-gradient(59deg, rgba(17, 50, 86, 0.842) 22%, rgba(18,124,149,1) 74%, rgba(222,192,5,0) 100%);
    height:100%;
    position:fixed;
    top:0; right:0; left:0; bottom:0;
}
.left-home{
    position:relative;
    
    background: rgb(84,86,87);
background: linear-gradient(59deg, rgba(26, 30, 32, 0.847) 41%, rgba(90, 178, 232, 0.236) 100%), url('../images/me-pool.jpg');
    
    filter:blur(0.01vw);

    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    width:50%;
}
.me-image{
    width:100%;
    object-fit:cover;
}
.name-alias{
    position:absolute;
    top:60%; left:60%;
    transform:translate(-50%, -50%);

    background-color: yellow;
    padding-left:2%; padding-right:10%;
    width:80%;
    text-align:right;

    border-top-left-radius: 35px;
}


.name{
    font-size:6vh;
}
.alias{
    font-size:4vh;
    color:grey;
    font-family: "Play";
}


.right-home{
    display:flex;flex-direction:column;
    width:40%;

    padding-left:5%;
}
.right-home-button{
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 10vw;
    height:20vh;
    margin-top: 5vh;
    font-size:170%;
    width:100%;
    font-family: "Merienda";
    /* font-family: "Sofia", sans-serif; */
    text-shadow: 3px 3px 3px #666666;;
    background-color: transparent;
    border: solid 4px rgba(218, 165, 32,0.8);
    color:rgba(218, 165, 32,0.8);
    transition: color 0.4s ease, border-radius 0.9s ease, background-color 0.9s ease;
}
.right-home-button:hover{
    border-radius:8vw;
    color:#2e5360;
    background-color: goldenrod;
    border-color: #2E7792;
}


/* styles for clg.html */

#clg-bg{
    background-image:linear-gradient(60deg, rgb(50, 50,50),rgb(33, 38, 40));
    /* url("images/star-bg1.jpeg") */
    color:goldenrod;
}

#clg-grid{
    background-color: transparent;
}

.content-bg{
    position:absolute; z-index: -2;
    top:0;left:0;right:0;bottom:0;
    
    background-position: center;
    background-size: cover;
}
.clg-content-bg{
    background: #0f2027;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.edu-content-bg{
    /* background-image: url('images/star-bg3.jpg'); */
    background: #0f2027;
    background: linear-gradient(60deg,#174370dc, #2a629ac2, #ff7e3e9f);
}

.minibox-heading{
    font-weight:bold;
    text-decoration:underline ;
}

.footer{
    background-color: rgb(24,24,24);
    display: flex;
    justify-content: center;
}
.contact{
    font-size: 3vh;

    padding-left:4vw; padding-right: 4vw; padding-top:1vh;
    background-color: purple;
    height:5vh; width: auto;
    color: whitesmoke;
    transition:color 0.4s ease, background-color 0.4s ease, padding 0.4s ease;

    border-radius:25px;
}
.contact:hover{
    padding-left:7vw; padding-right: 7vw;
}
.contact:active{
    color:purple;
    background-color: whitesmoke;
}

/* FOOTER OF CONTACT */
.footer{
    /* position:relative; */
    bottom:0; left:0; right:0;
    display:flex; flex-direction: column;
    justify-content: center;
    height:40vh;
}
.footer-ed{
    background-color: #D48862;
}
.footer-clg{
    background-color: #538085;
}
.footer-heading{
    width:100%;
    font-family : "Fredericka the Great", serif;
    font-size: xxx-large;
    font-weight: 800;
    padding-bottom:3%;
    text-align:left;
    padding-left:3%;
}
.contact-flex{
    /* position:relative; */
    bottom:0;
    display:flex; flex-direction: row;
    width:100%;
}

.my-photo-div{
    display:flex;
    justify-content: center;
    width:40%; height: 100%;
    /* background-size: cover;
    background-position: top; */
}

.my-photo{
    align-self: center;
    object-fit:scale-down;
    height:100%;
    object-position: top;
    /* overflow: hidden; */
}

.contact-button-flex{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer-contact-button{
    position:relative;
    display: flex; flex-direction: row; flex-grow: 1;
    border: solid 2px red;
    height: 25%; width:80%;
    /* justify-content: ; */
}
.footer-contact-button>img{
    object-fit: scale-down;
}

















/* CONTACT ME */
.full-page{
    display:flex;
    background:linear-gradient(60deg, black, rgba(0,0,0,0.7))
}

.container-rotate{
    position:relative;
    height:100vh; width:50%;
    /* background:linear-gradient(60deg, black, rgba(0,0,0,0.7)); */
}

.contact-text-home-hyper{
    position:absolute;
    z-index: 2;
    top:55%; left:50%;
    transform: translate(-50%, -50%);
    padding-left:2%; padding-right: 2%;
    color:#FFC26F;
    background: rgba(40, 40, 2, 0.83);
    border-radius:10px;
    font-size:6vh;
    text-align: center;
    font-family: "Merienda"; 
}

.center-photo{
    transform-origin:center;
    position:absolute; z-index: 1;
    top:50%; left:50%;
    width:20vw;height:30vh;
    transform: translate(-50%, -50%);
    background-image:url('../images/me-convo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    /* border: solid 0.5vw whitesmoke; */
}

.github{
    position:absolute; z-index: 1;
    top:50%; left:50%;
    width:15vh;height:15vh;
    transform: translate(-50%, -50%);
    animation: planet-github 7s infinite linear;
}

/* .slack{
    position:absolute; z-index: 1;
    top:50%; left:50%;
    width:10vh;height:10vh;
    transform: translate(-50%, -50%);
    animation: planet-slack 13s infinite linear;
} */

.gmail{
    position:absolute; z-index: 1;
    top:50%; left:50%;
    width:10vh;height:10vh;
    transform: translate(-50%, -50%);
    animation: planet-gmail 10s infinite linear;
}

/* .insta{
    position:absolute; z-index: 1;
    top:50%; left:50%;
    width:10vh;height:10vh;
    transform: translate(-50%, -50%);
    animation: planet-insta 18s infinite linear;
} */




.contact-buttons{
    background-color: transparent;
    width:45%;
    padding-left:10%; padding-right:5%;
    row-gap:5%;
    display:flex; flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
.contact-button-hyper{
    background-color:transparent;
    display:flex;
    justify-self: center;
}
.contact-flex-button{

    background-color:transparent;
    display:flex;
    justify-self: center;
    width:100%;
}
.contact-button-logo{
    max-height: 15vh;    
}
.contact-button-other-half{
    flex:1;
    text-align: center;
    justify-self: center;
    position:relative;
}
.button-name{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);

    color:#FF6500;
    font-weight:bold;
    font-size: 5vh;
    text-wrap: wrap;
    font-family: "Play";
}


@media (max-width: 600px){
    *{
        padding:0; margin:0;
    }
    html{
    overflow-x: hidden;
    }
    .body{
        display:flex;
        flex-direction: column;
        margin-bottom:0;
    }
    
    
    .bg{
        width:100%;
        height:100vh;
        
        position:relative;
    
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content:center;
        background-position: center;
        background-size: cover;
        /* background-color: #003153; */
        background-image:linear-gradient(315deg, #003153 0%, #0abab5 74%);
        color:goldenrod;
    }
    
    .sticky-text{
        position:sticky; overflow: hidden;
        top: 5%;
        text-align:center;
        font-size:60px;
        padding-left:10px; padding-right: 10px;
        font-family: "Merienda";
    text-shadow: 5px 5px 5px rgba(85, 80, 69, 0.599);
    font-weight: 700;
    color:goldenrod;
    }
    .scroll-down-indicator{
        position:sticky;
        top:80%;
        overflow: hidden;top:8%;
        width:5%;height:auto;
    
        animation:bounce 1s infinite;
    }
    
    .big-flex{
        position: relative;
        flex-direction: column;
        margin-bottom:0;
        padding-bottom:30vh;
    
        justify-content: space-around;
        /* deletable */
    }
    
    
    .nav-ed{
        position:sticky;z-index: 1;
        top:0;
        overflow: hidden;
        background-color:transparent;
    
        padding-top:10px;
        display: flex;
        justify-content:space-between;
    }
    .nav-ed-button{
        font-size:3vh;
        margin-left:10px; margin-right: 10px;
        background:white;
        opacity: 0.7;
        padding-left:5%; padding-right:5%;
        border-radius:40px;
        border: solid 3px teal;
        color:teal;
        cursor: wait;
    }
    .nav-ed-button:hover{
        opacity: 1;
        transition: 0.25s ease;
        background:teal;
    color:white;
    }
    .nav-ed-button:active{
        opacity: 0;
    }
    
    .left-align{
        padding-left:4%;
        margin-right:8%;
        text-align: left;
    }
    .right-align{
        padding-right:4%;
        margin-left:8%;
        text-align: right;
    }
    
    .grid{
        padding-top:0; padding-bottom:5%;
        display:grid;
        grid-template-areas:
        "flex"
        "flex"
        "flex"
        "flex";
        /* row-gap: 5%; */
    
        /* DELETABLE */
        background-color: transparent;
    }
    .flex-in-grid{
        display:flex;
        position:relative;
        justify-content:center;
        column-gap:4%;
        margin-top:5%;
        
        /* animation: appear-at-scroll ease;
        animation-timeline: view();
        animation-range:entry 0; */
    }
    
    .image-box{
        max-width:35%;
        /* max-height:30vh; */
        align-self:center;
    }
    .image-box-on-left>a>img{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .image-box-on-right>a>img{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .margin-left{
        margin-left:15%;
    }
    .margin-right{
        margin-right:15%;
    }
    .image-box>a>img{
        object-fit: cover;
        max-height: 30vw;
        width:100%;
        filter:none;
        border-width:10px; border-style: double;  
        border-color:white;  
    }
    .image-box>a>img:hover{
        /* PUT TRANSITION HERE */
        border-radius:10%;
        opacity:0.7;
        transition: 0.25s ease;
    }
    .text-box{
        background-color:#1E3E62;
        margin-top:0%; padding-top:4%;padding-bottom:4%; padding-right:4%; padding-left:4%;
        color:goldenrod;
    
        font-size:100%;
        text-wrap: wrap;
        width: 50vw;
    }
    .text-box-on-right{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-left:3%;
    }
    .text-box-on-left{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    
    /* style for index.html */
    
    .homepage-heading{
        position:relative; z-index:1;
        text-align:center;
        font-size: 8vh;
        color:goldenrod;
    }
    .homespace{
        display:flex;
        padding-top:15vh;
        background: rgb(38,37,38);
    background: linear-gradient(59deg, rgba(17, 50, 86, 0.842) 22%, rgba(18,124,149,1) 74%, rgba(222,192,5,0) 100%);
        height:100%;
        position:fixed;
        top:0; right:0; left:0; bottom:0;
    }
    .left-home{
        position:relative;
        
        background: rgb(84,86,87);
    background: linear-gradient(59deg, rgba(26, 30, 32, 0.847) 41%, rgba(90, 178, 232, 0.236) 100%), url('../images/me-pool.jpg');
        
        filter:blur(0.01vw);
    
        background-size: cover;
        background-position: right top;
        background-repeat: no-repeat;
        width:50%;
    }
    .me-image{
        width:100%;
        object-fit:cover;
    }
    .name-alias{
        position:absolute;
        top:60%; left:60%;
        transform:translate(-50%, -50%);
    
        background-color: yellow;
        padding-left:2%; padding-right:10%;
        width:80%;
        text-align:right;
    
        border-top-left-radius: 35px;
    }
    
    
    .name{
        font-size:6vh;
    }
    .alias{
        font-size:4vh;
        color:grey;
        font-family: "Play";
    }
    
    
    .right-home{
        display:flex;flex-direction:column;
        width:40%;
    
        padding-left:5%;
    }
    .right-home-button{
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        border-bottom-left-radius: 5vw;
        border-bottom-right-radius: 10vw;
        height:20vh;
        margin-top: 5vh;
        font-size:170%;
        width:100%;
        font-family: "Merienda";
        /* font-family: "Sofia", sans-serif; */
        text-shadow: 3px 3px 3px #666666;;
        background-color: transparent;
        border: solid 4px rgba(218, 165, 32,0.8);
        color:rgba(218, 165, 32,0.8);
    
        transition: color 0.4s ease, border-radius 0.9s ease, background-color 0.9s ease;
    }
    .right-home-button:hover{
        border-radius:8vw;
        color:#2E7792;
        background-color: white;
    }
    
    
    /* styles for clg.html */
    
    #clg-bg{
        background-image:linear-gradient(60deg, rgb(50, 50,50),rgb(33, 38, 40));
        /* url("images/star-bg1.jpeg") */
        color:purple;
    }
    
    #clg-grid{
        background-color: transparent;
    }
    
    .content-bg{
        position:absolute; z-index: -2;
        top:0;left:0;right:0;bottom:0;
        
        background-position: center;
        background-size: cover;
    }
    .clg-content-bg{
        background: #0f2027;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        /* background-image: url('images/star-bg2.jpg'); */
    }
    .edu-content-bg{
        /* background-image: url('images/star-bg3.jpg'); */
        background: #0f2027;
    background: linear-gradient(60deg,#174370dc, #2a629ac2, #ff7e3e9f)
    }
    
    .minibox-heading{
        font-weight:bold;
        text-decoration:underline ;
    }
    
    .footer{
        background-color: rgb(24,24,24);
        display: flex;
        justify-content: center;
    }
    .contact{
        font-size: 3vh;
    
        padding-left:4vw; padding-right: 4vw; padding-top:1vh;
        background-color: purple;
        height:5vh; width: auto;
        color: whitesmoke;
        transition:color 0.4s ease, background-color 0.4s ease, padding 0.4s ease;
    
        border-radius:25px;
    }
    .contact:hover{
        padding-left:7vw; padding-right: 7vw;
    }
    .contact:active{
        color:purple;
        background-color: whitesmoke;
    }
    
    /* CONTACT ME */
    
    .contact-text{
        position:absolute;
        z-index: 2;
        top:20%; left:50%;
        transform: translate(-50%, -50%);
        padding-left:2%; padding-right: 2%;
        color:purple;
        background: transparent;
        border-radius:10px;
        font-size:3vh;
        text-align: center;
    }
    .container{
        height:100vh; width:100vw;
        background:linear-gradient(60deg, black, rgba(0,0,0,0.7));
    }
    .center-photo{
        transform-origin:center;
        position:absolute; z-index: 1;
        top:20%; left:50%;
        width:60vw;height:30vh;
        transform: translate(-50%, -50%);
        background-image:url('');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius:50%;
        /* border: solid 0.5vw whitesmoke; */
    }
    
    .github{
        position:absolute; z-index: 1;
        top:100%; left:0%;
        width:20vw;height:20vw;
        transform: translate(-50%, -50%);
        animation: planet-github-query 8s infinite linear;
    }
    
    /* .slack{
        position:absolute; z-index: 1;
        top:100%; left:0%;
        width:20vw;height:20vw;
        transform: translate(-50%, -50%);
        animation: planet-slack-query 8s infinite linear;
    } */
    
    .gmail{
        position:absolute; z-index: 1;
        top:100%; left:0%;
        width:15vw;height:15vw;
        transform: translate(-50%, -50%);
        animation: planet-gmail-query 7s infinite linear;
    }
    
    /* .insta{
        position:absolute; z-index: 1;
        top:100%; left:0%;
        width:20vw;height:20vw;
        transform: translate(-50%, -50%);
        animation: planet-insta-query 7s infinite linear;
    } */

    .full-page{
        position: fixed; 
        top:0; bottom:0; left:0; right:0;
        display:flex;
        flex-direction: column;
        background:linear-gradient(60deg, black, rgba(0,0,0,0.7))
    }
    
    .container-rotate{
        position:relative;
        height:30vh; width:100%;
        /* background:linear-gradient(60deg, black, rgba(0,0,0,0.7)); */
    }
    
    .contact-text-home-hyper{
        position:absolute;
        z-index: 2;
        top:55%; left:50%;
        transform: translate(-50%, -50%);
        padding-left:2%; padding-right: 2%;
        color:#FFC26F;
        background: rgba(40, 40, 2, 0.83);
        border-radius:10px;
        font-size:6vh;
        text-align: center;
        font-family: "Merienda"; 
    }
    
    .center-photo{
        transform-origin:center;
        position:absolute; z-index: 1;
        top:50%; left:50%;
        width:20vw;height:30vh;
        transform: translate(-50%, -50%);
        background-image:url('');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius:50%;
        /* border: solid 0.5vw whitesmoke; */
    }
    
    .contact-buttons{
        background-color: transparent;
        width:90%;
        padding-left:5%; padding-right:5%;
        row-gap:5%;
        display:flex; flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }
    .contact-button-hyper{
        background-color:transparent;
        display:flex;
        justify-self: center;
    }
    .contact-flex-button{
    
        background-color:transparent;
        display:flex;
        justify-self: center;
        width:100%;
    }
    .contact-button-logo{
        max-height: 15vh;    
    }
    .contact-button-other-half{
        flex:1;
        text-align: center;
        justify-self: center;
        position:relative;
    }
    .button-name{
        position:absolute;
        top:50%; left:50%;
        transform:translate(-50%,-50%);
    
        color:#FF6500;
        font-weight:bold;
        font-size: 5vh;
        text-wrap: wrap;
        font-family: "Play";
    }
}
